<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>$scope的基本使用</title>
    <script src="components/angular.js"></script>
</head>
<body ng-app="hd">
     <div ng-controller="ctrl">
         名称：{{goods.data.name}}<br/>
         价格：{{goods.data.price}}<br/>
         数量：{{goods.data.num}}<br/>
         <button ng-click="goods.add()">添加数量</button>
         <button ng-click="goods.reduce()">减少数量</button>
         金额：{{goods.data.num * goods.data.price}}元
     </div>
</body>
<script>
     var m = angular.module('hd',[]);
     m.controller('ctrl',['$scope',function($scope){
          $scope.goods = {
              data:{name:'apple mac',price:10000,num:0},
              add:function(){
                 $scope.goods.data.num = Math.min(++$scope.goods.data.num,6);
              },
              reduce:function(){
                 $scope.goods.data.num = Math.max(--$scope.goods.data.num,0);
              }
          };
     }]);
</script>
</html>