<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>angular控制单选按钮</title>
    <script src="components/angular.min.js"></script>
</head>
<body>
    <div ng-app="hd" ng-controller="ctrl">
        网站开启：
        <input type="radio" ng-model="status" ng-value="1"/>开启
        <input type="radio" ng-model="status" ng-value="0"/>关闭
        <div ng-show="status==0">
            <textarea>网站维护升级中</textarea>
        </div>
        {{status}}
    </div>
    <script>
        var app = angular.module('hd',[]);
        app.controller('ctrl',['$scope',function($scope){
            $scope.status = 1;
        }]);
    </script>
</body>
</html>