<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular控制复选框</title>
    <script src="components/angular.min.js"></script>
</head>
<body>
   <div ng-app="hd" ng-controller="ctrl">
       <input class="" type="checkbox" ng-model="data.game" ng-true-value="1" ng-false-value="0"/>游戏
       <input class="" type="checkbox" ng-model="data.video" ng-true-value="1" ng-false-value="0" />电影
       <div ng-show="data.game==1">
           游戏：
           <textarea></textarea>
       </div>
       <div ng-show="data.video==1">
           电影：
           <textarea></textarea>
       </div>
       {{data}}
   </div>
   <script>
       var app = angular.module('hd',[]);
       app.controller('ctrl',['$scope',function($scope){
           $scope.data = {
               game:0,
               video:0
           };
       }]);
   </script>
</body>
</html>